* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  font-family: Roboto, Arial;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

/*SERVICE SECTION*/
.service-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1a1a1a;
  border-radius: 1rem;
  margin-top: 1rem;
}

.skills-container {
  background-color: black;
  color: white;
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  max-width: 350px;
  margin: 20px;
  padding: 35px;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-color: gray;
}

.skills-container h1 {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  text-transform: uppercase;
  color: gold;
}

.skills-container img {
  height: 150px;
  width: 100%;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(173, 216, 230, 1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.skills-container img:hover {
  transform: scale(1.07);
  box-shadow: 0px 6px 25px rgba(173, 216, 230, 1);
}

.skills-container p {
  margin-top: 25px;
}

/*RESPONSIVE WEBSITE FOR SMALLER SCREEN SERVICE CONTAINER*/
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    max-width: max-content;
  }
}

@media (max-width: 768px) {
  .service-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

/*SECTION FOR PORTFOLIO*/
.work-example {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
.work-example h1 {
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.work-example p {
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.6;
}

.portfolio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  background-color: #1a1a1a;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.portfolio-card {
  max-width: 100%;
  background-color: black;
  flex: 1 1 calc(33.333% - 10px);
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 20px;
  padding: 1rem;
  border-radius: 1rem;
  border-color: gray;
  border-style: solid;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.portfolio-card:hover {
  transform: scale(1.07);
}

.portfolio-card img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.portfolio-card h2 {
  background-color: transparent;
  color: gold;
  margin-top: 1rem;
}

.portfolio-card p {
  font-family: Roboto, Arial;
  color: white;
  position: relative;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.view-project-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #add8e6;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  cursor: pointer;
  font-family: Roboto, Arial;
  border-radius: 5px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.portfolio-card a {
  color: #000 !important;
  background-color: transparent;
  font-weight: 700;
  text-decoration: none;
  font-family: Roboto, Arial;
  position: relative;
}

.view-project-btn:hover {
  transform: scale(1.07);
}

/*RESPONSIVE WEBSITE FOR SMALLER SCREEN*/

@media (max-width: 768px) {
  .portfolio-card {
    flex: 1 1 100%;
  }
}

/*EXPLORE BEYONG SECTION*/

.explore-beyond {
  background-color: black;
  padding: 120px 20px;
  text-align: center;
  transition: all 0.5;
}

.explore-beyond h1 {
  font-size: 7.5rem;
  color: #add8e6;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-weight: 700;
  margin: 0;
}

/* RESPONSIVE ADJUSTMENT FOR SAMLLER SCREEN */
@media (max-width: 768px) {
  .explore-beyond h1 {
    font-size: 5em; /* Reduced font size for tablets */
    letter-spacing: 8px; /* Adjust spacing */
  }
  .explore-beyond {
    padding: 80px 20px; /* Adjust padding */
  }
}

@media (max-width: 480px) {
  .flashing-text {
    font-size: 3em; /* Further reduced font size for smaller screens */
    letter-spacing: 5px; /* Adjust spacing */
  }
  .flashing-text-section {
    padding: 60px 20px; /* Reduced padding for mobile */
  }
}

/* .explore-beyond::before {
  content: "";
  position: absolute;
  width: 96%;
  border: 0.05rem solid #ffff;
  inset: 0;
  border-radius: 2rem;
  animation: pathRotate-explore-beyong 2s linear infinite;
} */

@keyframes pathRotate {
  0%,
  100% {
    clip-path: inset(0 0 94% 0);
  }
  25% {
    clip-path: inset(0 94% 0 0);
  }
  50% {
    clip-path: inset(94% 0 0 0);
  }
  50% {
    clip-path: inset(0 0 0 94%);
  }
}

/*IMAGE-TEXT-CONTAINER SECTION*/

.image-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 15px 0px 15px;
  column-gap: 30px;
  row-gap: 2rem;
  margin-bottom: 40px;
  background-color: #1a1a1a;
  padding-bottom: 2rem;
  border-radius: 1rem;
}

.image-container img,
.image-container {
  background-color: transparent;
  width: 100%;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 1rem;
}

.image-container :hover {
  transform: scale(1.07);
}

.text-container {
  line-height: 35px;
  background-color: #000000;
  color: white;
  padding: 20px;
  height: auto;
  box-sizing: border-box;
  overflow: scroll;
}

.span-text {
  color: gold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  background-color: transparent;
}

.paragraph {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  overflow: auto;
}

.text-container a:hover {
  transform: scale(1.07);
}

/*RESPONSIVE DESIGN FOR IMAGE-TEXT-CONTAINER-SECTION*/

@media (max-width: 768px) {
  .image-text-container {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }

  .text-container {
    overflow: scroll;
  }

  .image-container img {
    max-width: max-content;
  }
}

/*RESPONSIVE DESIGN FOR PRICING CONTAINER*/
@media (max-width: 768px) {
  .pricing-container {
    max-width: fit-content;
    row-gap: 10px;
  }
}

.quote-slider-section {
  color: #add8e6; /* Light blue text color */
  padding: 100px 20px;
  text-align: center;
  position: relative;
  perspective: 1000px; /* Perspective for 3D effect */
  overflow: hidden;
}

.quote-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 1s ease; /* Smooth transition */
}

.quote-slide {
  position: absolute;
  width: 280px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(173, 216, 230, 0.4); /* Light blue shadow */
  border-radius: 15px;
  background-color: rgba(
    26,
    26,
    26,
    0.9
  ); /* Slightly transparent dark background */
  text-align: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.8s ease, transform 1s ease; /* Smooth fade and rotation */
}

.quote-text {
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(173, 216, 230, 0.8); /* Glow effect */
}

.quote-author {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  color: #ffa07a; /* Orange shade for author */
}

.quote-slide.active {
  opacity: 1; /* Fully visible */
}

.quote-slide:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.quote-slide:nth-child(2) {
  transform: rotateY(90deg) translateZ(300px);
}
.quote-slide:nth-child(3) {
  transform: rotateY(180deg) translateZ(300px);
}
.quote-slide:nth-child(4) {
  transform: rotateY(270deg) translateZ(300px);
}

.faq {
  margin: auto;
  border-radius: 8px;
  padding: 20px;
  background-color: #1a1a1a;
}

.faq h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: Roboto, Arial;
  background-color: #1a1a1a;
}

.faq-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  background-color: #1a1a1a;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: Roboto, Arial;
  background-color: #1a1a1a;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 20px;
  background-color: #1a1a1a;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 0;
  color: white;
  font-family: Roboto, Arial;
  background-color: #1a1a1a;
}

.faq-answer.show {
  max-height: 200px;
  padding: 10px 0;
}

@media (max-width: 500px) {
  .faq {
    padding: 15px;
  }
}

/*CONTACT FORM SECTION*/

.status-msg {
  margin-bottom: 10px;
  color: white;
  font-size: medium;
  font-family: Roboto, Arial;
  text-transform: capitalize;
  background-color: transparent;
}

.Contact {
  background-color: #1a1a1a;
}

.contact-section h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.contact-section p {
  text-align: center;
  padding-bottom: 1rem;
}

.contact-form-container {
  padding-left: 20%;
  padding-right: 20%;
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  background-color: #1a1a1a;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #1a1a1a;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-family: Roboto, Arial;

  color: white;
  background-color: #1a1a1a;
}

input,
textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: white;
  background-color: #1a1a1a;
}

textarea {
  resize: vertical;
}

.form-group.full-width {
  grid-column: span 2;
}

button {
  grid-column: span 2;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 150px;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 700px) {
  form {
    grid-template-columns: 1fr;
  }

  .form-group.full-width {
    grid-column: span 1;
  }

  button {
    grid-column: span 1;
  }
}

/* FOOTER SECTION */
footer {
  background-color: black;
  height: 14rem;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
  border-style: solid;
  border-color: darkgray;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-width: 1px;
  padding: 2rem 2rem 0 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4.6rem;
  background-color: transparent;
}

.social {
  display: flex;
  flex: 1;
  gap: 2rem;
  background-color: transparent;
  height: fit-content;
  width: 10rem;
  align-items: center;
}

.social-p {
  position: absolute;
  bottom: 8rem;
  margin-left: 1rem;
  background-color: transparent;
}

.social img {
  width: 50px;
  background-color: transparent;
  cursor: pointer;
}

.social a {
  background-color: transparent;
  color: white;
}

.secure-payment {
  display: flex;
  background-color: transparent;
  height: fit-content;
}

.secure-payment-p {
  position: absolute;
  background-color: transparent;
  bottom: 8rem;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 10rem;
  margin-right: 2rem;
  background-color: transparent;
}

.icons img {
  background-color: transparent;
  width: 40px;
  cursor: pointer;
}

.secure-payment a {
  background-color: transparent;
}

.copywrite,
.copywrite p {
  background-color: transparent;
  display: flex;
  flex: 2;
  color: #fff;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

/* RESPONSIVE WEBSITE FOR FOOTER SECTION */

@media (max-width: 768px) {
  footer {
    height: auto;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 3rem;
    margin-top: 5rem;
  }
}

@media (max-width: 768px) {
  .social {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .social-p {
    position: absolute;
    bottom: 15.5rem;
    justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .secure-payment {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .secure-payment-p {
    position: absolute;
    top: 15.7rem;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .copywrite {
    margin-bottom: 1.5rem;
    align-items: center;
  }
}
