.heading {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    background-color: black;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
  }
